.chat-stream {
  position: relative;
  max-height: 88%;
  height: 88%;
  overflow: auto;
}

.stream-div {
  position: absolute;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: auto;
  height: 100%;
}

.chat-message {
  background: lightskyblue;
  margin: 4px 0px;
  padding: 8px;
}

.chat-username {
  color: gray;
  border-bottom: 1px solid gray;
  font-size: 12px;
}

.typing-indicator {
  color: gray;
  font-style: italic;
  font-size: 11px;
  padding-left: 12px;
}

.message-form {
  height: 12%;
  padding: 20px 10px 20px 10px;
}
