
<button class="btn-danger" (click)="gotochat()">Go To Chat</button>


<button class="btn-danger" (click)="gotoprofil()">Go To Profil</button>

<button class="btn-danger" (click)="print()">print token</button>
<div>{{token}}</div>

<button class="btn-danger" (click)="postss()">Go to Posts</button>

<div>
  <div class="container  dw">
    <div class="row">
      <hr />
      <div class="row align-items-start">
        <div *ngFor="let i of posts$ ">
          <div>{{i.name}}</div>
          <div>{{i.number}}</div>
          <div>{{i.description}}</div>
          <div>{{i.id}}</div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
