<body class="body-profile">
<div class="container container-custom-1">
  <div class="row buttons-all">
    <button class="btn1" (click)="gotoprofil()"> <a class="a-over"> Profile </a> </button>
    <button type="submit" class="btn1" (click)="doLogin()"><a  class="a-over"> Chat </a></button>
    <button class="btn1" (click)="postss()"> <a  class="a-over"> Add post </a> </button>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h2 class="custom-main-title"> Newsfeed </h2>
    </div>
  </div>
  <div *ngFor="let i of posts$ ">
  <div class="row post">
    <h3> {{i.name}} </h3>
    <h5 class="post-border">
      {{i.description}}
    </h5>

<!--    <div class="container row">-->
<!--      <div class="col-md-12">-->
<!--        <div *ngIf=i.file>-->
<!--          <img class="img-preview" [src]="i.file" style="cursor: pointer;"/>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <p class="post-stamp">{{i.date}} </p>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"><code>Posted by {{i.userName}}</code></div>
        </div>
      </div>
    </div>

  </div>

  </div>

</div>
</body>
