.body-profile {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to right, #615664, grey);
  /* background: grey; */
  font-size: 1em;
  height: 100%;
}

.colorat{
  background-color: #000b2d;
}


.container {
  text-align: center;
  background-color: white;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-custom-1 {
  border-radius: 25px;
}

.buttons-all {
  padding:20px;
  /* border-bottom: solid 10px black; */
  font-size: 1.2em;
  opacity: 0.7;
}

.custom-main-title {
  padding:20px;
  margin-top:10px;
  font-size: 3.5em;
  font-family:'Courier New', Courier, monospace;
  text-shadow: 16px 22px 11px rgba(202, 156, 199 ,0.8);
}

.user-data {
  padding: 50px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.user-username {
  font-size: 3em;
  color: black;
  transition: 0.5s;
  margin-bottom: 30px;
  border-radius: 20px;
}

.user-username:hover {
  font-size: 3em;
  color: #FA1446;
  background-color: black;
  transition: 0.5s;
  opacity: 0.8;
}

.user-other {
  font-size: 1.8em;
  transition: 0.5s;
  color: black;
  margin-top: 15px;
  border-radius: 20px;
}

.user-other:hover{
  font-size: 1.8em;
  transition: 0.5s;
  color: #FA1446;
  margin-top: 15px;
  background-color: black;
  opacity: 0.8;
}

.user-posts {
  padding:30px;
}

.post {
  padding: 20px;
  margin: 10px;
}

.post-border{
  border-left: solid 3px lightgray;
  padding-left: 20px;
  /* border-style: solid;
  border-image: linear-gradient(to bottom, lightblue, lightcoral) 1;
  border-image-width: 0 0 0 0.7%;
  border-top: none;
  border-bottom: none;
  border-right: none; */
}

.post-stamp{
  font-size: 0.8em;
  padding: 10px;
  border-radius: 20px;
  background-color: lightgoldenrodyellow;
  margin-top: 10px;
  /* background: linear-gradient(to right, #DAA0DF , lightblue); */
}

.bl {
  color: #FA1446;
}

.br {
  color: #FA1446;
}

.user-posts-title {
  border: solid 2px black;
  border-radius: 20px;
  margin-top: 2em;
}

.btn1{
  color: black;
  font-size: 1.4em;
  transition: 0.2s;
  background-color: white;
  margin: 0.4em;
  border: 5px solid transparent;
  transition: all 0.2s ease-in-out;
}

.btn1:hover{
  color: black;
  font-size: 1.4em;
  transition: 0.2s;
  background-color: white;
  margin: 0.4em;
  outline: 0px solid transparent;
  border-bottom: 5px solid black;
  transition: all 0.2s ease-in-out;
}

.btn1:focus {
  outline: none;
}

.auth-buttons {
  font-size: 1.2em;
  opacity: 0.7;
  padding: 5px;
}

.btn-auth {
  margin-left: 1em;
}

.a-over {
  text-decoration: none;
  color:black;
}

.a-over:hover {
  text-decoration: none;
  color:black;
}

.btn-post{
  padding: 0.4em;
  color: white;
  background-color: black;
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 1em;
  transition: 0.5s;
  font-size: 1.2em;
  width: 100%;
}

.btn-post:hover{
  padding: 0.4em;
  background-color: black;
  color: white;
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 1em;
  transition: 0.5s;
}

.form-add-post {
  margin-top: 4em;
}

.custom-textarea {
  border: solid 2px black;
}

.h3-post {
  color: black;
}

.container-add-post {
  background-color: white;
  border-radius: 1.5em;
  padding: 5em;
  box-shadow: 0 0 7px black;
  opacity: 0.8;
  margin-bottom: 10em;
}


.btn-post2 {
  margin-top: 1em;
  font-size: 1.5em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  border-radius: 1em;
  border: none;
  background-color: lightcoral;
  color: white;
  transition: 0.3s;
}

.btn-post2:hover {
  background-color: lightgreen;
  transition: 0.3s;
}

.btn-post2:focus {
  outline: none;
}

.online-users {
  background-color: lightgrey;
  border-radius: 0.5em;
}

.chat-container {
  background-color: lightgrey;
  border-radius: 0.5em;
}

.break-text {
  word-wrap: break-word;
}

.custom-title-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.dot-on {
  height: 0.5em;
  width: 0.5em;
  background-color: greenyellow;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.7;
  box-shadow: 0 0 5px green,
  0 2px 5px green;
}

.dot-off {
  height: 0.5em;
  width: 0.5em;
  background-color: orangered;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.7;
  box-shadow: 0 0 5px red,
  0 2px 5px red;
}

.chat-msg {
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
}

.chat-user {
  color: lightcoral;
  font-size: 1.5em;
}

.chat-title {
  font-size: 2.5em;
  color: grey;
  font-weight: 600;
}
